li.dropdown.login_label {
    float: right;
}

img.img__lpost {
    height: 50px;
    width: 78px;
}


div#AlertBox {
    font-size: 18px;
}



.clink_llll {
    padding-right: 5px!important;
}

.clink_rrrr {
    padding-right: 5px!important;
}



.tb_tenbanghi {
    max-width: 300px;
}