@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutClient.cshtml";
}
@section sectionHeader{
    <title>
        NGHỊ HƯNG - Shoeses store online
    </title>
    }

@{Html.RenderAction("HomeSlider", "Home", "Index");}




<div class="products" style="background: #000">
    <h5 class="latest-product">SẢN PHẨM MỚI NHẤT</h5>
    <a class="view-all" href="/Home/DanhSachTatCaSanPhamMoi">XEM TẤT CẢ<span> </span></a>
</div>


@{Html.RenderAction("DanhSachSanPhamMoi", "Home", "Index");}




<div class="products" style="background: #000">
    <h5 class="latest-product">SẢN PHẨM ĐANG KHUYẾN MẠI</h5>
    <a class="view-all" href="/Home/DanhSachTatCaSanPhamKhuyenMai">XEM TẤT CẢ<span> </span></a>
</div>

@{Html.RenderAction("DanhSachSanPhamKhuyenMai", "Home", "Index");}


